body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #00ADB5;
}

header h1 {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #222831;
    margin-right: auto;
}

header ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

header a {
    text-decoration: none;
    color: #FEFBF6;
}

/* Content */

.wrapper {
    background-color: #EEEEEE;
}

.index-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}

.recipe-peek {
    display: flex;
    flex-direction: column;
}

.recipe-peek img {
    height: 225px;
    border-radius: 10px;
    width: 225px;
    object-fit: cover;
}

.recipe-peek a {
    text-decoration: none;
}

.recipe-peek p {
    width: 125px;
    margin: auto;
    text-align: center;
    color: #393E46;
    font-weight: 700;
}

/* Footer */

footer {
    display: flex;
    background-color: #222831;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

footer p {
    color: #EEEEEE;
}