body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #00ADB5;
}

header h1 {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', sans-serif;
    font-size: 24px;
    color: #222831;
    margin-right: auto;
}

header ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

header a {
    text-decoration: none;
    color: #FEFBF6;
}

/* Content */

.container {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;

}

.container div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3rem 0 3rem 0;
    max-width: 350px;
}

h1,
h2,
h3 {
    margin: 5px 0 5px 0;
    color: #222831;
}

.recipe-title {
    text-align: center;
}

div img {
    max-width: 350px;
    border-radius: 10px;
}

.container li {
    color: #222831;
    padding: 5px 0 5px 0;
}

/* Footer */

footer {
    display: flex;
    background-color: #222831;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    color: #EEEEEE;
}
